body {background-color: #220B0C; padding-top: 5vh; max-width: 85%; margin: auto;}
    
h1 {color:#EF432E; font-family: Arial, Helvetica, sans-serif; font-size: 18pt; text-align: center; padding-top: 10px; padding-bottom: 10px;}
    
p {color:#EF432E; font-family: Palatino, serif; font-size: 11pt; text-align: left; line-height: 18pt; margin: auto; width: 100%; max-width: 550px; padding-bottom: 20px;}

img {display: block; margin: auto; padding-top:10px; padding-bottom: 10px; width: 100%; max-width: 600px;}

hr {
width: 100%; max-width: 550px;
height: 2px;
background-color: #EF432E;
margin-top: 15px;
margin-bottom: 30px;
border: none;
}

.button {
  background-color: #EE4529;
  color: #220B0C;
  padding: 5px 23px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 11pt;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px;
}

a {
  color: #EE4529;
  font-size: 11pt;
  font-weight: 600;
  font-family: Arial, sans-serif;
}

::-moz-selection { /* Code for Firefox */
  color: #220B0C;
  background: #EF432E;
}

::selection {
  color: #220B0C;
  background: #EF432E;
}

#statuscafe {
color:#EF432E; font-family: Palatino, serif; font-size: 11pt; text-align: center; line-height: 18pt; margin: auto;
}

